.aboutcontent {

    h3 {
        font-size: 28px;
        margin-bottom: 20px;
    }

    li {
        font-size: 20px;
        list-style: disc;
        margin-left: 20px;
        margin-bottom: 10px;
    }

}